body {
  background-color: #ddd !important;
  margin: 0;
  padding: 0 0 70px 0;
  font-family: sans-serif;
  min-width: 320px;
}

.botao {
	margin: 5px;
	float: right;
}

.elemento {
	margin: 5px 0;
}
