body {
  background-color: #ddd !important;
  margin: 0;
  padding: 0 0 70px 0;
  font-family: sans-serif;
}

.botao{
	margin: 5px;
	float: right;
}
.elemento{
	margin: 5px 0;
}

.botaoadd{
	position: fixed;
	z-index: 1;
	right: 10px;
	bottom: 10px;
}
